apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  labels:
    app: fastapi
  namespace: default-namespace
spec:
  # 1. Chọn đúng Pod để điều phối
  selector:
    app: fastapi

  # 2. Định nghĩa cổng
  ports:
    - name: http
      protocol: TCP
      port: 80 # Cổng Service
      targetPort: 8000 # Cổng FastAPI bên trong Pod

  # 3. Chọn loại hình truy cập
  type: NodePort # Dễ dàng test trên máy cá nhân
